{% extends 'base_generic.html' %}
<!-- Extiende de la plantilla base_generic.html, heredando su estructura y estilo básico -->

{% block content %}
<!-- Comienza un bloque de contenido denominado 'content' -->

  <div class="container mt-5">
    <!-- Contenedor de Bootstrap con margen superior (mt-5) para espaciado -->
    <h2>¡Gracias por tu mensaje!</h2>
    <!-- Encabezado de nivel 2 con el texto '¡Gracias por tu mensaje!' -->

    <p>Nos pondremos en contacto contigo pronto.</p>
    <!-- Párrafo con el mensaje 'Nos pondremos en contacto contigo pronto.' -->
  </div>

{% endblock %}
<!-- Finaliza el bloque de contenido 'content' -->
